<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main class="px-20">
            <div class="bg-slate-100 text-center p-52">
                <h1 class="text-4xl font-bold p-6"> 404 - Page not found</h1>
                <p class="p-6 pt-0 text-lg">The requested page couldn't be found on our site. Make sure you are using a correct link</p>
                <a href="/home" class="btn-primary">Go back to the homepage</a>
            </div>
        </main>
    </body>
</html>