<!DOCTYPE html>
<html lang="en" class="h-full bg-[url('/public/photos/general/login_background.jpg')] bg-center bg-no-repeat bg-cover">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header2.ejs")%>
        <main class="px-20">
            <div class="bg-slate-100 bg-opacity-80 text-center p-52 rounded-xl my-4">
                <h1 class="text-4xl font-bold p-6">Email address confirmed</h1>
                <p class="p-6 pt-0 text-lg">You have succesfully confirmed your email address and can now <a href="/users/login" class="text-sky-500">login</a> to our platform</p>
                <a href="/home" class="btn-primary py-2 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl">Homepage</a>
            </div>
        </main>
    </body>
</html>