<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>CheckInn Home</title>
        <%-include("../fragments/head.ejs")%>
    </head>
    <body>
        <%-include("../fragments/header.ejs")%>
        <main>
            <div class="px-20 justify-center mx-auto min-w-fit">
                <form method="POST" action="/users/authenticate">
                    <div class="flex flex-col gap-6 justify-center p-10 border mt-20">
                        <h1 class="text-3xl mx-auto">Login to your account</h1>
                        <div class="mx-auto">
                            <label>E-mail:</label><br>
                            <input name="email"type="text" placeholder="E-mail" class="inp-basic">
                        </div>
                        <div class="mx-auto">
                            <label>Password:</label><br>
                            <input name="password" type="password" placeholder="Password" class="inp-basic">
                        </div>
                        <div class="mx-auto">
                        <% if(locals.msg) { %>
                            <p class="text-red-600">
                                <%- locals.msg %> 
                                <% if(locals.createAccLink) {%>
                                <a href='/users/register' class='text-blue-400 underline mx-auto'>Create a new account</a>
                            <% } %>
                            </p>
                        <% } %>
                        
                        </div>
                        <button type="submit" class="btn-primary">Log in</button>
                        <div class="mx-auto">
                            <a href="/users/forgot" class="text-blue-400 text-sm underline">Forgot my password</a>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>