<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
<header class="">
    <nav class="flex justify-between py-3 px-36 bg-sky-500 bg-opacity-80 rounded-b-xl">
        <a href="/" class="text-3xl text-white font-logo">CheckInn</a>
  
    </nav>
</header>