<header>
    <nav class="flex justify-between py-3 px-20 bg-blue-600">
        <a href="/" class="text-3xl font-bold text-white">CheckInn</a>

        <ul class="flex flex-row items-center align-middle gap-4 text-white">
            <li><a href="#" class="">Become a host</a></li>
            <% if(locals.user) { %>
                <li><a href="#"><%-locals.user.firstname%></a></li>
            <% } else{ %> 
            <li><a href="/users/register" class="">Register</a></li>
            <li>
                <a href="/users/login" class="peer">Sign in</a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>