<header>
    <nav class="flex justify-between py-3 px-36 bg-gradient-to-r from-sky-500 to-blue-500">
        <a href="/" class="text-3xl font-logo text-white">CheckInn</a>
        <ul class="flex flex-row items-center align-middle gap-4 text-white">
            <% if(locals.user && locals.user.role == 'host'){ %>
                <li><a href="/hosting" class="">Host Dashboard</a></li>
            <% }else if(locals.user == null || (locals.user && locals.user.role != 'admin')){ %>
            <li><a href="/hosting/becomeHost" class="">Become a host</a></li>
            <%} if(locals.user) { %>
                <% if(locals.user.role != 'admin') { %>
                <li>
                    <button id="dropdownUserOptions" data-dropdown-toggle="dropdownUser" class="text-white rounded-lg px-4 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button"><%-locals.user.firstname %> <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                    <!-- Dropdown menu -->
                    <div id="dropdownUser" class="z-40 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
                        <ul class="py-1 text-md text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserOptions">
                            <li>
                                <a href="/users/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>
                            </li>
                            <li>
                                <a href="/booking/userTrips" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Your trips</a>
                            </li>
                            <li>
                                <a href="/notifications" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notifications</a>
                            </li>
                            <li>
                                <a href="/favourites" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Favourites</a>
                            </li>
                        </ul>
                        <div class="py-1">
                            <a href="/users/logout" class="block text-blue-500 px-4 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log Out</a>
                          </div>
                    </div>
                </li>
                <% } else { %>
                    <li><a href="/admin" class="">Admin Dashboard</a></li>
                    <a href="/users/logout" class="">Log Out</a>
                <% } %>
            <% } else{ %> 
            <li><a href="/users/register" class="">Register</a></li>
            <li><a href="/users/login" class="peer">Sign in</a></li>
            <% } %>
        </ul>
    </nav>
</header>

<!-- Flowbite script -->
<!-- <script src="../../node_modules/flowbite/dist/flowbite.js"></script>
<script src="/node_modules/flowbite/dist/flowbite.js"></script> -->