<div class="room border rounded-lg m-3 min-w-[300px] h-full">
    <div class="room-title border-b flex flex-row items-center justify-between px-4 py-2 bg-gray-100">
        <h3 class="text-lg font-medium">${capitalize(room.room_type).split("_").join(" ")}</h3>
        <button value="${room.id_room}" class="btn-del focus:outline-none text-red-600 hover:text-red-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 " type="button" data-modal-toggle="popup-modal">
                Delete Room
        </button>
    </div>
    <div class="flex justify-between">
        <div class="p-2">
            ${detailsDiv}
        </div>
        <div class="flex flex-col">
        </div>
        
    </div>
</div>