<h1>Welcome to CheckInn</h1>

<p>
    We are pleased to welcome you to the CheckInn community. 
    There is only one last thing to do to start searching for your dream destination:
    <a href="http://${domainName}/confirm/${id}/${token}">Confirm your email address</a>
</p>